[Desktop Entry]
Version=1.0
Type=Application

Name=Note+
Comment=Handwritten notes that sync in real time across your devices
Comment[fr]=Des notes manuscrites synchronisées en temps réel sur vos appareils
Categories=Office;WordProcessor;

Icon=fr.noryx.noteplus
Exec=noteplus
MimeType=application/sbn;application/sbn2;application/sba
Terminal=false
StartupWMClass=fr.noryx.noteplus
